<nav class="navbar navbar-expand-md navbar-light bg-primary flex-column">
  <div class="container d-none d-md-inline-flex justify-content-end">
    <h3 class="nav-title fw-bold text-light text-end">
      IATSE Local 504
    </h3>
  </div>
  <div class="container-xxl">
     <a href="/" class="navbar-brand mx-md-4">
       <img src="images/iatse504-logo.svg" class="logo" />
     </a>
    <div class="d-md-none">
      <h3 class="nav-title title-sm fw-bold text-light text-center m-0">
        IATSE Local 504
      </h3>
    </div>
    <!-- toggle for mobile nav -->
    <button class="navbar-toggler ms-1 custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- nav links -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav d-flex justify-content-between full-width-height">
        <div class="d-md-flex justify-content-center flex-fill">
          <li class="nav-item">
            <a href="/" class="nav-link mx-md-4">Home</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link mx-md-4">Contact</a>
          </li>
        </div>
        <li class="nav-item d-md-none">
          <a href="/login" class="nav-link">Member Login</a>
        </li>
        <li class="nav-item mx-md-4 d-none d-md-inline">
          <a href="/login" class="btn nav-btn">Member Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>