<div class="container">

    <div class="header-p bg-primary text-light mt-4 py-3 px-5 rounded-5">
        <p class="m-auto" id="reg-info">
            Register with iatse504.com to stay up to date on important issues 
            affecting you. You will have full access to the members resources and the 
            ability to manage your own settings. You will also have the option to be 
            added to relevant mailing lists in order to receive important emails on 
            current issues.
            <br />
            <br />
            Complete the form below to register. You must be a member in good standing, 
            or currently paying the initiation fee in order 
            to register with this site. Once you submit the form, your registration 
            will be verified by an official, and your account will be activated upon 
            successful verification. Expect up to 24-48 hours for your account to 
            become active. Thank you!
        </p>
    </div>

    <div class="container-fluid mt-5 text-primary fw-bold">
        <div class="form-header d-flex justify-content-between flex-wrap mb-3">
            <h4 id="form-header">Application to Register</h4>
            <span id="required">*Required fields</span>
        </div>

        <form action="#" class="from" id="reg-form">
            <div class="form-group row justify-content-center">
    
                <!-- Display for medium screens and up -->
                <div class="d-none d-md-inline col-md-10 mb-4" id="md-plus-inputs">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name *</label>
                            <input type="text" class="form-control input-line" id="firstName">
                        </div>
    
                        <div class="col-md-6">
                            <label for="Lastname" class="form-label">Last Name *</label>
                            <input type="text" class="form-control input-line" id="lastName">
                        </div>
                    </div>
                </div>
                
                <div class="d-none d-md-inline col-md-10 mb-4" id="md-plus-inputs">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email *</label>
                            <input type="text" class="form-control input-line" id="email">
                        </div>
    
                        <div class="col-md-6">
                            <label for="confirmEmail" class="form-label">Confirm Email *</label>
                            <input type="text" class="form-control input-line" id="confirmEmail">
                        </div>
                    </div>
                </div>

                <div class="d-none d-md-inline col-md-10 mb-4" id="md-plus-inputs">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="userName" class="form-label">Username *</label>
                            <input type="text" class="form-control input-line" id="userName">
                        </div>
    
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password *</label>
                            <input type="text" class="form-control input-line" id="password">
                        </div>
                    </div>
                </div>

                <div class="d-none d-md-inline col-md-10" id="md-plus-inputs">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="confirmPassword" class="form-label">Confirm Password *</label>
                            <input type="text" class="form-control input-line" id="confirmPassword">
                        </div>
                    </div>
                </div>

                <!-- Display for small screens -->
                <div class="container-fluid" id="sm-inputs">
                        <div class="d-block d-md-none mb-4">
                            <label for="firstName" class="form-label">First Name *</label>
                            <input type="text" class="form-control input-line" id="firstName">
                        </div>

                        <div class="d-block d-md-none mb-4">
                            <label for="lastName" class="form-label">Last Name *</label>
                            <input type="text" class="form-control input-line" id="lastName">
                        </div>
                        <div class="d-block d-md-none mb-4">
                            <label for="email" class="form-label">Email *</label>
                            <input type="text" class="form-control input-line" id="email">
                        </div>

                        <div class="d-block d-md-none mb-4">
                            <label for="confirmEmail" class="form-label">Confirm Email *</label>
                            <input type="text" class="form-control input-line" id="confirmEmail">
                        </div>
                        <div class="d-block d-md-none mb-4">
                            <label for="username" class="form-label">Username *</label>
                            <input type="text" class="form-control input-line" id="username">
                        </div>

                        <div class="d-block d-md-none mb-4">
                            <label for="password" class="form-label">Password *</label>
                            <input type="text" class="form-control input-line" id="password">
                        </div>

                        <div class="d-block d-md-none">
                            <label for="confirmPassword" class="form-label">Confirm Password *</label>
                            <input type="text" class="form-control input-line" id="confirmPassword">
                        </div>

                    </div>

                    <div class="col-12 my-4 text-center">
                        <button type="submit" class="btn btn-primary my-4 px-5 submit" id="register">Submit</button>
                    </div>

                </div>
            </form>

            <div class="container mb-5" id="form-instructions">
                <h6 class="fw-bold" id="header-instructions">
                    Password Requirements
                </h6>
                <div class="text-dark fw-normal">
                    <span class="" id="password-reqs">
                        Strong passwords contain 3 of the following items and at least 8 characters:
                    </span>
                    <br />
                    <br />
                    <ul class="">
                        <li>Uppercase letters (A-Z)</li>
                        <li>Lowercase letters (a-z)</li>
                        <li>Numbers (0-9)</li>
                        <li>Special characters (e.g. !&#64;#$%^&*)</li>
                    </ul>
                </div>
            </div>
    </div>
</div>
