input {
    color: black;
}

.contact-text:focus {
    outline: none;
    box-shadow: 0 0 5px #7BA4DB;
    border: 2px solid #7BA4DB;
}

@media (max-width: 767px) {
    iframe {
        width: 100%;
    }
}

@media (min-width: 992px) {
    iframe {
        width: 275px;
    }
    input {
        width: 275px;
    }
}

@media (min-width: 1200px) {
    iframe {
        width: 330px;
    }
}

@media (min-width: 1400px) {
    iframe {
        width: 375px;
    }
}