<div class="container pt-5">

    <div class="header mb-5">
        <h1 class="text-center text-primary">Contact Us</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <div class="container text-center" id="contact-container">
                <address>
                    <strong>IATSE Local 504</strong><br>
                    671 S. Manchester<br>
                    Anaheim, CA 92802<br>
                    <br>
                    <abbr title="Phone"><strong>Phone number</strong></abbr>
                    <br>
                    (714) 774-5004<br>
                    <br>
                    <abbr title="Fax"><strong>Fax</strong></abbr>
                    <br>
                    (714) 774-7683
                </address>

                <div class="social-icons">
                    <span><strong>Follow us!</strong></span>
                    <br>
                    <a href="https://www.facebook.com/" class="link-white"><i class="bi bi-facebook px-1"></i></a>
                    <a href="https://www.twitter.com/" class="link-white"><i class="bi bi-twitter px-1"></i></a>
                    <a href="https://www.instagram.com/" class="link-white"><i class="bi bi-instagram px-1"></i></a>
                </div>

                <div class="text-start mt-4" id="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.5517518218076!2d-117.92769738771464!3d33.82387892964076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd629fcce3e8d%3A0x1b6372e70d051b68!2sIATSE%20Local%20504!5e0!3m2!1sen!2sus!4v1715047648027!5m2!1sen!2sus"
                        width="200px" height="300px" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>

            </div>
        </div>

        <div class="col-md-8 text-dark">
            <form action="#" class="contact-form" id="contact">

                <div class="pt-2 pb-4 ps-1" id="message-header">
                    <h5>Send us a message</h5>
                </div>

                <div class="d-md-flex justify-content-around" id="first-last">

                    <div class="form-group">     
                        <label for="first-name" class="form-label">First Name *</label>
                        <input type="firstName" class="form-control input-line" id="first-name">
                    </div>

                    <div class="form-group">
                        <label for="last-name" class="form-label">Last Name *</label>
                        <input type="lastName" class="form-control input-line" id="last-name">
                    </div>

                </div>

                <div class="d-md-flex justify-content-around" id="num-email">

                    <div class="form-group">
                        <label for="phone" class="form-label">Phone Number *</label>
                        <input type="phone" class="form-control input-line" id="phone">
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">Email *</label>
                        <input type="text" class="form-control input-line" id="email">
                    </div>

                </div>

                <div class="text-container px-2 pt-5 pb-3" id="message">
                    <label for="message-text" class="form-label">Message *</label>
                    <textarea class="form-control contact-text mt-2" id="message-text" rows="10"></textarea>
                </div>

                <div class="text-end mb-3 me-2" id="btn-container">
                    <button class="btn btn-primary text-light" id="send-message">Send Message</button>
                </div>

            </form>
        </div>
    </div>
</div>