<footer class="container-fluid text-light bg-primary mt-4 py-2">
    <div class="row text-center justify-content-around" id="footer-content">
        <div class="col-12 col-md-4 social-icons py-1">
            <a href="https://www.facebook.com/" class="link-white"><i class="bi bi-facebook px-1"></i></a>
            <a href="https://www.twitter.com/" class="link-white"><i class="bi bi-twitter px-1"></i></a>
            <a href="https://www.instagram.com/" class="link-white"><i class="bi bi-instagram px-1"></i></a>
        </div>
        <div class="col-12 col-md-4 copywrite py-1">
            <span>&copy; {{ currentYear }} IATSE Local 504. All rights reserved</span>
        </div>
        <div class="col-12 col-md-4 authors py-1">
            <span>Created by James Harper & Natalie Tolento</span>
        </div>
    </div>
</footer>