<!-- Members' Page -->
<div class="container text-primary text-center" id="members">
    <h2 class="my-4" id="members-header">
      Members
    </h2>
  <div class="mx-auto" id="members">
    
    <!-- Members' content -->
    <div class="row justify-content-evenly align-items-center g-2 my-1 m-auto">
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="resources">Resources</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="comittees">Comittees</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="open-jobs">Open Jobs</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="dispatcher-info">Dispatcher Information</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="meeting-minutes">Meeting Minutes</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="contracts">Contracts</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="forms">Forms</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="dues">Dues</button>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <button class="btn member-links btn-primary text-light" id="constitution">Constitution</button>
      </div>
    </div>

  </div>
</div>