// Custom Scss overrides for Bootstrap
$primary: #2E3E80;
$secondary: #DDCBA4;
$success: #64A70B;
$info: #8C489A;
$warning: #FF9E1B;
$danger: #AF231C;
$light: #FCFCFC;
$dark: #101820;

// Navbar padding and margin adjust
$navbar-brand-padding-y: 0;
$navbar-brand-margin-end: 0;

// Carousel indicator variables
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;

// import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Form styling
.input-line {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;

    &:focus {
      outline: none;
      box-shadow: none;
      border-bottom: 2px solid #7BA4DB;
    }
  }

// Button styling
.submit, .member-links {
    border: none;

    &:hover {
      background-color: #A7C186;
      border: none;
      transition: 0.4s;
    }
  }

// Carousel indicator styling
.carousel-indicators button{
  border-radius: 100% !important;

  &.active {
    background-color: #FF9E1B !important;
  }
}