<!-- Carousel -->
<div id="carouselFadeIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselFadeIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselFadeIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselFadeIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/carousel-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/carousel-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/carousel-3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<!-- Homepage content -->
<main class="container-fluid p-0">

  <!-- About 504 text -->
  <div class="container my-4" id="about">
    <div class="row justify-content-center">
      <div class="col-md-8 align-center">
        <h2 class="about text-center text-primary mb-4" id="about-header">
          About Local 504
        </h2>
        <p class="about-text" id="about-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe culpa itaque impedit vero sed dolorum soluta suscipit, voluptatibus, modi voluptatem sint eaque corporis necessitatibus odit harum molestiae amet laboriosam possimus beatae, quod ea quae. Sint dolore deleniti officia, officiis vero quibusdam eveniet. Minima velit architecto reprehenderit officiis nostrum voluptatem? Alias.
        </p>
      </div>
    </div>
  </div>

  <!-- Disciplines section -->
  <div class="container-fluid text-light bg-primary py-4">
    <div class="row justify-content-center">
      <div class="col align-center">

        <h2 class="text-center my-4" id="disciplines-header">
          Disciplines
        </h2>
        <!-- Disciplines content for medium and up screens -->
        <div class="d-none d-md-block">
          <div class="d-flex justify-content-evenly mx-auto" id="disciplines">
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="rigging" id="rigging">
              <figcaption>Rigging</figcaption>
            </figure>
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="video" id="video">
              <figcaption>Video</figcaption>
            </figure>
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="carpentry" id="carpentry">
              <figcaption>Carpentry</figcaption>
          </figure>
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="audio" id="audio">
              <figcaption>Audio</figcaption>
          </figure>
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="lighting" id="lighting">
              <figcaption>Lighting</figcaption>
            </figure>
          </div>
        </div>

        <!-- Disciplines content for small screens -->
        <div class="d-block d-md-none">
          <div class="d-flex flex-wrap justify-content-evenly mx-auto" id="disciplines">
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="rigging" id="rigging">
              <figcaption>Rigging</figcaption>
            </figure>
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="video" id="video">
              <figcaption>Video</figcaption>
            </figure>
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="carpentry" id="carpentry">
              <figcaption>Carpentry</figcaption>
            </figure>
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="audio" id="audio">
              <figcaption>Audio</figcaption>
            </figure>
            <figure class="col-12 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="lighting" id="lighting">
              <figcaption>Lighting</figcaption>
            </figure>
          </div>
        </div>

    </div>
  </div>

        <!-- Our Venues -->
    <div class="row justify-content-center mt-4">
      <div class="col align-center">
        <h2 class="text-center my-4" id="venues-header">
          Our Venues
        </h2>
        <!-- Venues content for medium and up screens -->
        <div class="d-none d-md-block">
          <div class="d-flex justify-content-evenly mx-auto" id="disciplines">
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="rigging" id="rigging">
              <figcaption>Rigging</figcaption>
            </figure>
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="video" id="video">
              <figcaption>Video</figcaption>
            </figure>
            <figure class="col-auto disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="carpentry" id="carpentry">
              <figcaption>Carpentry</figcaption>
            </figure>
              <figure class="col-auto disc-images text-center">
                <img src="images/IATSE504-site-logo.png" alt="audio" id="audio">
                <figcaption>Audio</figcaption>
            </figure>
          </div>
        </div>

        <!-- Venues content for small screens -->
        <div class="d-block d-md-none">
          <div class="d-flex flex-wrap justify-content-evenly mx-auto" id="disciplines">
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="musco" id="audio">
              <figcaption>Musco</figcaption>
            </figure>
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="anaheim convention center" id="rigging">
              <figcaption>Anaheim Convention</figcaption>
            </figure>
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="segerstrom center" id="video">
              <figcaption>Segerstrom</figcaption>
            </figure>
            <figure class="col-6 disc-images text-center">
              <img src="images/IATSE504-site-logo.png" alt="disneyland" id="carpentry">
              <figcaption>Disneyland</figcaption>
            </figure>
          </div>
        </div>

      </div>
    </div>
  </div>

    <!-- Affiliations -->
    <div class="container text-primary" id="affiliations">

        <h2 class="my-4" id="affiliations-header">
          Affiliations
        </h2>

      <div class="mx-auto" id="affiliations">
        
          <!-- Affiliations content -->
        <div class="row justify-content-evenly align-items-center g-2 my-1">
          <div class="col-lg-3 text-center">
            <a href="http://www.iatse.net/" class="aff-link"><img src="images/affiliations/iatse-inter.png" id="ia-inter" alt="iatse international"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://www.iatsenbf.org/" class="aff-link"><img src="images/affiliations/ia-bf.png" alt="iatse benefits"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://iatsecares.org/" class="aff-link"><img src="images/affiliations/ia-cares.png" alt="iatse cares"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://iadistrict2.org/" class="aff-link"><img src="images/affiliations/ia-district2.png" alt="iatse district 2"></a>
          </div>
        </div>
        <div class="row justify-content-evenly align-items-center g-2 my-1">
          <div class="col-lg-3 text-center">
            <a href="http://www.iatsepride.net/" class="aff-link"><img src="images/affiliations/ia-pride.png" alt="iatse pride"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://www.iatse504welfare.org/" class="aff-link"><img src="images/affiliations/ia504-hw.png" alt="iatse logo"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://etcp.esta.org/" class="aff-link"><img src="images/affiliations/etcp.png" alt="etcp"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://nb.fidelity.com/public/nb/default/home" class="aff-link"><img src="images/affiliations/fidelity-benefits.png" alt="fidelity benefits"></a>
          </div>
        </div>
        <div class="row justify-content-evenly align-items-center g-2 my-1">
          <div class="col-lg-3 text-center">
            <a href="http://aflcio.org/" class="aff-link"><img src="images/affiliations/afl-cio.png" alt="afl cio"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://oclabor.org/" class="aff-link"><img src="images/affiliations/oc-labor.png" alt="oc labor"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://www.unionplus.org/" class="aff-link"><img src="images/affiliations/union-plus.png" alt="union plus"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://www.dol.gov/olms/" class="aff-link"><img src="images/affiliations/dol.png" alt="department of labor"></a>
          </div>
        </div>
        <div class="row justify-content-evenly align-items-center g-2 my-1">
          <div class="col-lg-3 text-center">
            <a href="http://www.avixa.org/" class="aff-link"><img src="images/affiliations/avixa.png" alt="avixa"></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="http://hub.disney.com/" class="aff-link"><img src="images/affiliations/disney-hub.png" alt="disneyland hub"></a>
          </div>
        </div>
      </div>
    </div>
</main>